<!DOCTYPE html>
<html lang="en">

<%- include("partials/_header") %>

  <body>
    <%- include("partials/_menu") %>

      <!-- Contact Start -->
      <div class="container-fluid py-5">
        <div class="container py-5">
          <div class="text-center pb-2">
            <h6 class="text-uppercase">Bize Ulaşın</h6>
            <h1 class="mb-4">Herhangi Bir Soru İçin İletişime Geçin</h1>
          </div>
          <div class="row">
            <%- include("partials/_email") %>
              <!-- Google map iframe-->
              <div class="col-lg-6" style="min-height: 400px;">
                <div class="position-relative h-100 rounded overflow-hidden">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1978.7511514451571!2d33.618648198944086!3d40.59243685997266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDDCsDM1JzMzLjAiTiAzM8KwMzcnMTMuMCJF!5e0!3m2!1str!2str!4v1684318272023!5m2!1str!2str"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
              </div>
          </div>
        </div>
      </div>
      <!-- Contact End -->

      <%- include("partials/_footer") %>

        <%- include("partials/_jslib") %>
  </body>

</html>